---
layout: default
---
{%- include parse-theme-options.html -%}

{%- if page.collection and page.collection != "" -%}
  {%- assign _collection = site.collections | where: "label" , page.collection | first -%}
{%- else -%}
  {%- assign _collection = site.collections | where: "label" , "sections" | first -%}
{%- endif -%}
{%- assign _sections = _collection.docs | sort: 'order' -%}
{%- include header.html items_nav=_sections -%}
{%- assign _output= _collection.output | default: false -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _section in _sections -%}
    {%- if _output  -%}
      {%- capture _excerpt -%}<p>{{- _section.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
      {%- capture _link -%}<a href="{{- _section.url -}}">{{- _themeOp_readmorelabel -}}</a>{%- endcapture -%}			{%- assign _content = _excerpt | append: _link -%}
      {%- include section.html title=_section.title photo=_section.cover-photo photo-alt=_section.cover-photo-alt auto-header=_section.auto-header content=_content -%}
    {%- else -%}
      {%- include section.html title=_section.title photo=_section.cover-photo photo-alt=_section.cover-photo-alt auto-header=_section.auto-header content=_section.content -%}
    {%- endif -%}
	{%- endfor -%}
</div>
