---
layout: default
---
{%- if page.collection and page.collection != "" -%}
  {%- assign _collection = site.collections | where: "label" , page.collection | first -%}
	{%- assign _sections = _collection.docs | sort: 'order' -%}
{%- else -%}
  {%- assign _collection = site.collections | where: "label" , "sections" | first -%}
	{%- assign _sections = nil -%}
{%- endif -%}
{%- include header.html scrolly_nav=_sections linktofullpage= true -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>
